.link {
    opacity: 0%;
}

.quicklinks {
    transition: .5s ease;
}

.quicklinks:hover {
    margin-right: 155px;
}

.quicklinks:hover .link {
    opacity: 100%;
    transition: opacity .1s ease;
}

#storeBTN.inactive, #topeBTN.active {
    transition-delay: 0s
}

#drawBTN.inactive, #topcBTN.active {
    transition-delay: .1s;
}

#instBTN {
    transition-delay: .2s;
}

#topcBTN.inactive, #drawBTN.active {
    transition-delay: .3s;
}

#topeBTN.inactive, #storeBTN.active {
    transition-delay: .4s;
}

.link.active:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);   
}